<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="My Connection" connectionString="Server=.;Database=MuzariumFull;Trusted_Connection=true;" providerName="System.Data.SqlClient"/>
    <add name="Step Academy" connectionString="Server=.;Database=MuzariumFull;User Id=admin;Password=admin;" providerName="System.Data.SqlClient"/>
    <add name="Azure DB" connectionString="Server=tcp:altunmursalov.database.windows.net,1433;Initial Catalog=Musarium;Persist Security Info=False;
       User ID=deliri0us@altunmursalov;Password=Murmansk123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration> 